* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "ArialMT";
    src: url("../fonts/ARIALMT.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
}

body {
    font-family: ArialMT, Arial;
}

.header {
    background-color: #445161;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 50px;
}

.header-list {
    list-style-type: none;
}

.header-item {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    margin: 0px 0px 0px 35px; /*25 размер + 10 отступ от галочки*/
}

.header-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -35px; 
    background-image: url("../img/check.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section {
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}

.section-grey {
    background-color: #f5f5f5;
}

.main-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin-bottom: 30px;
}

.main-content-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin-bottom: 15px;
}

.main-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.main-about {
    justify-content: space-between;
    flex-direction: row;
}

.main-about-content {
    margin-right: 100px;
}

.main-title-left {
    text-align: left;
}

.main-about-text {
    margin-bottom: 20px;
}

.main-about-img {
    height: 245px;
}

.main-dignity-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.main-dignity-item {
    margin: 0px 0px 35px 42px; /*32 размер + 10 отступ от иконки*/
    width: 46%;
    position: relative;
}

.main-dignity-item:nth-child(5),
.main-dignity-item:nth-child(6) {
  margin-bottom: 0;
}

.main-dignity-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 7px;
    left: -42px; 
    background-image: url("../img/plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-screenshots-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-screenshots-card {
    margin: 0 0 35px 0;
    width: 49%;
    display: flex;
}

.main-screenshots-card-nomb {
  margin-bottom: 0;
}

.main-screenshots-img {
    margin-right: 17px;
}

.main-screenshots-img {
    height: 150px;
}

.main-reviews-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-reviews-card {
    margin: 0 0 35px 0;
    width: 49%;
    display: flex;
}

.main-reviews-card-nomb {
    margin-bottom: 0;
}

.main-reviews-img {
    margin-right: 22px;
    width: 75px;
    height: 75px;
}

.main-reviews-text {
    width: 483px;
    min-height: 135px;

    background-color: #ebebeb;
    border-radius: 5px;
    position: relative;
}

.main-reviews-text:before {
    content: "";
    border: 15px solid transparent;	
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews-curvive {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    padding: 15px 15px 15px 15px;
}

.reviews-author {
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    padding: 0px 15px 15px 15px;
}

.main-buy-content {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.main-buy-card {
    background-color: #445161;
    width: 300px;
    border-radius: 5px;
}

.buy-card-standart {
    margin-top: 190px;
}

.buy-card-premium {
    margin-top: 95px;
}

.main-content-title-white {
    color: #ffffff;
    text-align: center;
    margin: 15px 0px 20px 0px;
}

.buy-card-price {
    background-color: #ffffff;
    width: 98%;
    margin: 0 auto;
}

.main-text-price {
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    padding: 20px;
}

.main-buy-card-desc {
    padding: 20px;
    box-sizing: border-box;
}

.buy-card-list {
    margin-bottom: 20px;
    list-style-position: inside;
}

.buy-card-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy-card-button {
    display: block;
    padding: 10px 110px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.buy-card-button:hover,
.buy-card-button:focus {
    border: #1d2c3f 2px solid;
    color: #1d2c3f;
}

.buy-card-button:active {
    border: #6fa5ec 5px solid;
    color: #6fa5ec;
}

.footer {
    background-color: #445161;
    box-sizing: border-box;
}

.footer-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding: 50px 585px 20px 585px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 0px 250px 50px 250px;
}

.footer-form-pos {
    display: flex;
    flex-direction: column;
    padding: 0px 45px 50px 250px;
    width: 500px;
}

.footer-contacts {
    padding: 0px 250px 50px 0px;
}

.enter_fields,
.textarea_field,
.sbutton {
    border-radius: 5px;
    margin-bottom: 20px;
}

input[placeholder],
textarea[placeholder] {
    font-family: ArialMT, Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

input[type="text"]:hover::placeholder,
input[type="email"]:hover::placeholder, 
textarea:hover::placeholder,
input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder, 
textarea:focus::placeholder {
    opacity: 0.3;
}

input[type="text"]:hover,
input[type="email"]:hover, 
textarea:hover,
input[type="text"]:focus,
input[type="email"]:focus, 
textarea:focus {
    border: #1d2c3f 2px solid;
}

input[type="text"]:active::placeholder,
input[type="email"]:active::placeholder, 
textarea:active::placeholder {
    opacity: 0;
}

input[type="text"]:active,
input[type="email"]:active, 
textarea:active {
    border: #6fa5ec 5px solid;
}

.sbutton {
    align-self: center;
    margin-bottom: 0;
    padding: 10px 50px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.sbutton:hover,
.sbutton:focus {
    border: #1d2c3f 2px solid;
    color: #1d2c3f;
}

.sbutton:active {
    border: #6fa5ec 5px solid;
    color: #6fa5ec;
}

.enter_fields {
    height: 40px;
}

.textarea_field {
    height: 170px;
}

.contacts-item {
    margin: 0px 0px 15px 0px;
    list-style-type: none;
    color: #ffffff;
    font-size: 26px;
}

.contacts-item:last-child {
    margin-bottom: 40px;
}

.contacts-link {
    text-decoration: none;
    font-family: ArialMT, Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 5px;
}

.contacts-link:hover {
    color: #dde1e2;
    text-decoration: underline;
}

.contacts-item-icon:hover {
    color: rgb(15, 5, 56);
}

.footer-copyright {
    background-color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.social {
    display: flex;
}

.soc-icon {
    fill: #fff;
    height: 40px;
    width: 45px;
    margin-right: 5px;
}

.soc-icon:hover {
    fill: rgb(15, 5, 56);
}